apiVersion: v1
clusters:
- cluster:
    server: https://tailscale-operator-ops.tailnet.ts.net
  name: tailscale-operator-ops.tailnet.ts.net
contexts:
- context:
    cluster: tailscale-operator-ops.tailnet.ts.net
    user: tailscale-auth
  name: ops
current-context: ops
kind: Config
preferences: {}
users:
- name: tailscale-auth
  user:
    token: unused